.player-field {

    width: 250px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: lightcoral;
    border-radius: 5px;


}

.player-field img {

    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;

}

.player-field span {

    font-size: 30px;
    margin-left: 20px;

}

.playerActive {

    background-color: lightgreen !important;

}

@media (max-width: 800px) {

    .player-field {

        width: 190px;
        height: 40px;

    }

    



}

