.game-field{

    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgb(90, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    
    position: relative;
    
    img{

        position: absolute;
        width: 150px;
    }
}

.top-card {

    cursor: pointer;
    
    transition: all 200ms ease-in-out;

    &:hover {

        transform: scale(1.1) translateY(-10px);
    }
}

.playedCards{
    
    right: 25px;
    transform: scale(1) translateX(200px) translateY(-150px) rotate(-30deg);
}

.pick-card {

    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(200px) translateY(-150px) rotate(-30deg);
}

@keyframes pick-card-animation {

    0%{

        transform: scale(1);

    }
    20%{

        transform: scale(1.4);

    }
    50%{

        transform: scale(1.4);


    }
    100%{

        transform: scale(1) translateX(200px) translateY(-150px) rotate(-30deg);

        
    }
}

.player-position {

    position: absolute;
    right: 0;

}

.add-btn{

    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom{

    position: absolute;
    bottom:  32px;
    left: 100px;
    right: 100px;
    
}

@media (max-width: 800px) {
    
    .card-stack  {

        height: 30px;
        padding-left: 45px;
    }

    .card-stack img{

        width: 120px;
        padding-right: 50px;
    }

    .pin-bottom {

        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
    }

    .mat-card {

        height: 10px;
    }

    .add-btn {

        position: absolute;
        top: 10px;
        left: 10px;
    }

   
    
}